body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.people {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.people td, #people th {
  border: 1px solid #ddd;
  padding: 8px;
}


.people tr:hover {background-color: rgb(201, 237, 252);}

.people th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(80, 116, 192);
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
}

